@keyframes float1 {
    0% {margin-top: 10px;}
    50% {margin-top: 40px;}
    100% {margin-top: 10px}
}

@keyframes float2 {
    0% {margin-bottom: 10px;}
    50% {margin-bottom: 40px;}
    100% {margin-bottom: 10px}
}

@keyframes text1 {
    0% {color: rgb(255, 78, 78);}
    10% {color: rgba(255, 0, 0, 0.767);}
    20% {color: rgb(226, 2, 2);}
    30% {color: rgba(235, 0, 0, 0.767);}
    40% {color: rgb(133, 2, 2);}
    50% {color: rgba(133, 2, 2, 0.767);}
    60% {color: rgb(133, 2, 2);}
    70% {color: rgba(235, 0, 0, 0.767);}
    80% {color: rgb(226, 2, 2);}
    90% {color: rgba(255, 0, 0, 0.767);}
    100% {color: rgb(255, 78, 78);}
}

.title {
    height: inherit;
    font-family: Flavors, sans-serif;
    /* text-shadow: rgba(255, 255, 181, 0.877); */
    color: rgba(133, 2, 2, 0.767);
    font-size: 30em;
    animation-name: text1;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.shop {
    position: absolute;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 28px;
}

#modalImage {
    text-decoration: none;
    /* min-width: 80px;
    max-width: 800px;
    min-height: 60px;
    max-height: 600px; */
}

.wrapper {
    position: fixed;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slice {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    background-image: url("pizza-slice-vector.png");
    background-size: cover;
    animation-name: float1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.pie {
    width: 200px;
    height: 200px;
    margin-left: 50px;
    background-image: url("pizza-pie-vector.png");
    background-size: cover;
    animation-name: float2;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}